{{define "bulma"}}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookler</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  </head>
  <body>
  {{template "navbar"}}
  <section class="section">
    <div class="container">
        {{ template "yield" .}}
    </div>
      {{ template "footer"}}
  </section>
  </body>
  </html>
{{ end }}