{{define "yield"}}
<h1 class="title">Add Collection</h1>
<form method="post">
    {{ csrfField }}

  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input name="name" class="input" type="text" value="">
    </div>
  </div>

  <button type="submit" class="button is-primary is-outlined">Submit</button>

</form>
{{end}}