{{ define "yield"}}
  <h1 class="title">Index</h1>

  <form>
    <div class="form-group">
      <input type="email" class="input" id="exampleFormControlInput1" placeholder="type in book title or author">
    </div>
  </form>
{{end}}
